<a class="card-url-generic" [routerLink]="['/book',this.id]">
  <div class="card text-white bg-dark col-md-12">

    <img src="{{this.img}}" class="card-img-top" alt="{{this.titulo}}">

    <div class="card-body">
      <h5 class="card-title">{{this.titulo}}</h5>
      <p class="card-text" innerHTML={{this.contenido}}></p>
      <div class="card-footer text-muted">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center">
              <i class="fa fa-user" aria-hidden="true"></i>&nbsp;{{this.autor}}
            </div>
            <div class="col-md-3">
              <small>
                <i class="fa fa-comments-o" aria-hidden="true"></i>&nbsp;{{this.comentarios}}
              </small>
            </div>
            <div class="col-md-5">
              <small>
                <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{this.fecha}}
              </small>
            </div>
            <div class="col-md-4">
              <small>
                <i class="fa fa-book" aria-hidden="true"></i>&nbsp;{{this.paginas}}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</a>
