.col-md-2{
  vertical-align: middle;
  align-content: center;
}

.card{
  border-radius: 20px;
  padding: 0px;
  margin-bottom: 15px;
}

.card-title{
  color: red;
}

.card-footer{
  border-radius: 20px;
}

.card-text{
  font-size: 11px;
}

.card-img{
  border-radius: 20px;
}

.card-img-top{
  border-radius: 20px 20px 0px 0px;
}


.card-url-generic:hover,
.card-url-generic:focus,
.card-url-generic:link,
.card-url-generic:visited,
.card-url-generic:active{
  text-decoration:none;
}
