<div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
</div>

<footer id="dk-footer" class="dk-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-4">
      <div class="dk-footer-box-info text-center">
        <a href="/" class="footer-logo text-center">
          <svg
            class="logo"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            height="75px"
            viewBox="0 0 650 210"
            version="1.1"
            id="svg8206"
            style="enable-background:new"
            inkscape:export-xdpi="4.7625003"
            inkscape:export-ydpi="4.7625003">
            <defs
              class="logo"
              id="defs8200" />
            <g
              class="logo"
              style="opacity:1"
              transform="translate(0,-87)"
              id="layer1"
              inkscape:groupmode="layer"
              inkscape:label="Capa 1">
              <g
                class="logo"
                id="text9029"
                style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:138.81045532px;line-height:1.25;font-family:Umpush;-inkscape-font-specification:Umpush;letter-spacing:0px;word-spacing:0px;display:inline;fill-opacity:1;stroke:none;stroke-width:7.43627453"
                transform="scale(0.68369136,1.4626483)"
                aria-label="JAD" />
              <g
                class="logo"
                id="g8404"
                transform="translate(6.9703581e-6,91.805359)" />
              <path
                class="logo"
                d="m 88.365354,271.58998 c -3.145738,-1.12653 -6.015936,-3.9879 -6.868825,-6.8477 -0.410391,-1.37606 -0.95368,-5.32664 -0.966788,-7.03009 -0.02768,-3.59707 -2.018712,-7.03011 -4.0772,-7.03011 -1.004565,0 -2.144227,1.00279 -2.96419,2.6082 -0.626058,1.22574 -0.665651,1.54463 -0.599397,4.82749 0.04097,2.03025 -0.05985,4.00161 -0.238694,4.66691 -0.875737,3.25787 -5.076931,5.44254 -8.330286,4.33185 -3.164952,-1.08049 -6.145836,-4.25325 -6.886015,-7.32925 -0.830727,-3.4523 -1.227668,-12.40774 -0.702215,-15.84275 1.085105,-7.09359 2.268607,-11.10166 4.736937,-16.04222 1.685394,-3.37344 3.348405,-5.59273 6.748822,-9.0063 4.600366,-4.61814 8.907805,-7.29256 14.469692,-8.98397 2.412818,-0.73376 4.473949,-0.97678 8.24685,-0.97235 4.698376,0.005 7.416894,0.59049 9.560595,2.05727 1.86643,1.27707 2.57431,2.15484 3.21104,3.98173 0.72883,2.09115 0.3441,6.87945 -0.82657,10.28687 -2.28332,6.64605 -3.968602,17.53517 -3.968602,25.6423 0,3.05976 0.690227,12.33844 0.948977,12.75712 0.06919,0.11194 -0.0025,0.89768 -0.159363,1.74609 -0.494679,2.67595 -1.946179,4.67174 -4.249837,5.84341 -1.635619,0.83191 -5.224207,1.00183 -7.084931,0.3355 z m -6.938975,-30.31483 c 4.121018,-2.79479 5.046553,-10.5937 1.538945,-12.96772 -2.89672,-1.96053 -6.825838,1.30746 -7.866469,6.54285 -0.374934,1.8863 -0.146739,3.52125 0.739394,5.29754 1.060523,2.12588 3.415293,2.60091 5.58813,1.12733 z m 33.437041,29.58599 c -4.19364,-1.22356 -7.20015,-4.45611 -8.20637,-8.82334 -1.3914,-6.03902 -1.39771,-16.71259 -0.0152,-25.8215 1.44019,-9.48929 4.09173,-17.51055 8.90786,-26.94746 0.96099,-1.883 1.63281,-3.59597 1.62137,-3.8059 -0.0251,-0.46199 -0.14788,-0.63305 -0.48248,-0.93959 -1.51794,-1.39059 -20.137655,-2.06915 -28.323202,-1.03217 -4.286718,0.54306 -9.694269,1.56647 -11.381562,2.15402 -2.800462,0.97519 -4.531113,0.28229 -3.632975,-1.45452 0.635192,-1.22832 6.443814,-7.12748 9.471572,-9.61919 9.1946,-7.56679 17.364547,-11.50394 29.769667,-12.49373 3.17967,-0.25371 6.00789,-0.22693 7.84883,0.046 9.40547,1.39441 20.07136,2.17083 28.22112,0.4245 2.00478,-0.44585 5.98915,-1.91112 8.15112,-2.99762 5.74019,-2.88473 8.7476,-5.76461 13.2814,-12.71819 2.35452,-3.61118 3.4517,-4.6912 4.49998,-4.42969 2.08446,0.51999 7.59036,6.42761 10.35013,11.10527 1.26466,2.14353 3.9098,7.68312 4.50842,9.44177 1.76948,5.19842 2.05858,7.93705 1.06352,10.07492 -2.05477,4.41464 -10.76339,9.4851 -20.22561,11.77603 -7.97868,1.93173 -12.386,2.41453 -22.66169,2.48242 -9.44625,0.0624 -8.5066,-0.22302 -10.24169,3.11107 -3.90336,7.50054 -7.04322,17.35145 -8.44596,26.49807 -0.86527,5.64204 -0.82325,13.89123 -0.21914,24.30056 0.0985,1.69741 -0.14547,2.92831 -0.38147,3.72749 -0.67964,2.30178 -2.79564,4.94757 -5.57555,5.78417 -3.44791,1.07763 -6.48194,0.57098 -7.90204,0.15664 z m 27.03885,-5.6126 c -2.85033,-0.77151 -5.36111,-2.33736 -7.05392,-5.70761 -2.72906,-5.5556 -0.001,-21.70586 2.10449,-28.86759 0.37674,-1.26407 0.74596,-2.63439 0.8205,-3.04519 0.0745,-0.41078 0.24315,-0.81341 0.37471,-0.89471 0.13157,-0.0813 0.23922,-0.33084 0.23922,-0.55451 0,-0.77828 1.72918,-3.98506 3.03095,-5.62092 1.32482,-1.66483 3.99716,-3.89935 5.48628,-4.58746 2.28811,-1.05729 2.86074,-1.27245 4.73181,-1.7779 1.19537,-0.32292 4.13306,-0.71825 7.15566,-0.96293 5.2942,-0.42858 8.09368,-0.76773 10.08162,-1.22135 3.90908,-0.89202 4.18627,-0.96771 7.50328,-2.04883 1.18969,-0.38776 2.90125,-0.76765 3.80345,-0.84419 6.37659,-0.54099 11.8847,4.61849 10.66671,9.99157 -1.00638,4.43975 -3.14835,10.28929 -5.27496,14.4055 -1.40475,2.71899 -3.70323,6.56544 -4.52411,7.57097 -0.24276,0.29738 -1.20522,1.51408 -2.13879,2.7038 -4.51862,5.75836 -11.84095,11.77528 -19.36694,15.91424 -1.52593,0.83919 -2.82186,1.5258 -2.87983,1.5258 -0.0579,0 -1.1491,0.4867 -2.42471,1.08155 -1.2756,0.59487 -2.38409,1.08157 -2.46328,1.08157 -0.0792,0 -0.65978,0.23616 -1.29019,0.5248 -3.27263,1.4984 -6.25835,1.96229 -8.58191,1.33339 z m 13.39491,-20.41313 c 3.37325,-1.7559 6.69435,-4.22222 9.59313,-7.12401 2.62636,-2.62911 5.49692,-6.62075 5.49692,-7.4325 0,-0.18908 -0.0759,-0.6644 -0.38416,-1.05624 -0.53692,-0.68256 -0.67086,-0.71244 -3.19501,-0.71244 -1.44903,0 -3.35658,0.12256 -4.239,0.27232 -5.16638,0.8769 -6.18185,1.23729 -7.66477,2.72021 -1.08383,1.08382 -1.4737,1.88744 -1.89322,3.90238 -0.18577,0.89228 -0.44145,2.10904 -0.56817,2.7039 -0.12672,0.59485 -0.38585,2.34318 -0.5759,3.88518 -0.22043,1.82103 -0.40351,2.72872 0.28263,3.31228 0.59767,0.50831 0.97267,0.66104 3.14755,-0.47108 z M 47.693851,256.83659 c -8.494114,-7.75688 -13.729708,-17.60335 -15.448606,-29.05382 -0.454046,-3.02465 -0.516884,-10.18795 -0.112019,-12.76983 0.712144,-4.5414 1.258653,-6.84826 2.471437,-10.43209 0.816693,-2.41336 2.403962,-6.11985 2.970567,-6.93665 0.273823,-0.39474 0.49786,-0.77545 0.49786,-0.84601 0,-0.18597 1.608296,-2.81017 2.687329,-4.38483 2.507943,-3.65988 6.477476,-7.82052 10.316996,-10.81369 0.952516,-0.74256 2.38239,-1.95766 3.177495,-2.70021 3.602811,-3.3647 2.979057,-4.68602 -3.806659,-8.06376 -7.514265,-3.74042 -11.551795,-6.45398 -15.661667,-10.52594 -3.609115,-3.57583 -4.951673,-5.4251 -6.236208,-8.58988 -1.004091,-2.24855 -1.000577,-5.22957 -0.239754,-7.49295 0.750966,-2.05455 1.559863,-3.08871 2.984287,-3.88979 3.362698,-1.89116 7.157578,-1.45877 12.840154,-0.32043 2.15915,0.28933 5.609653,-0.92259 7.598534,-2.66885 1.170604,-1.02781 2.093615,-2.3527 3.644359,-5.23114 1.638856,-3.04199 4.287977,-6.80161 6.211118,-8.8148 4.922669,-5.15316 11.474745,-8.77044 19.095102,-10.54206 3.549941,-0.82531 10.802686,-1.01799 14.362897,-0.38157 10.189377,1.82144 19.526207,7.98113 25.038217,16.51822 1.11051,1.71997 1.80514,3.07632 3.29361,6.43121 2.47253,5.57287 3.12516,14.58665 1.51965,20.98877 -1.30166,5.19053 -3.97128,9.6647 -8.39435,14.0686 -4.78561,4.76486 -9.50437,7.31042 -17.760519,9.58103 -4.575774,1.25843 -7.208844,2.08286 -7.525728,2.35635 -0.141279,0.12194 -0.41432,0.2217 -0.606764,0.2217 -0.504666,0 -5.320791,2.3668 -7.383217,3.62836 -5.434804,3.32437 -12.581781,9.89335 -16.961593,15.58989 -11.280431,14.67168 -16.288997,30.62378 -15.019998,47.83812 0.191852,2.60248 0.455334,5.46183 0.585518,6.35412 0.182285,1.24937 0.149465,1.76219 -0.142768,2.2307 -0.697543,1.11832 -1.643343,0.79903 -3.99528,-1.34877 z m 49.373858,-94.70723 c 7.112831,-1.46018 12.156371,-7.52865 12.151141,-14.62047 -0.003,-4.46566 -1.34041,-7.69042 -4.47627,-10.79556 -3.77402,-3.73706 -10.320881,-5.4351 -11.853848,-3.60985 -0.58405,0.90035 -0.177292,1.88166 0.155801,2.97428 0.991738,3.25313 1.371221,6.63206 1.010517,8.9976 -0.484755,4.16695 -1.993664,8.19779 -4.496528,11.60017 -1.515336,2.01584 -1.632239,3.34006 -0.396742,4.49418 1.345237,1.25665 4.558986,1.64674 7.905929,0.95965 z"
                style="display:inline;opacity:1;fill-opacity:0.98994978;stroke-width:0.27038851" />
              <g
                class="logo"
                aria-label="JAD"
                style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:219.1693573px;line-height:1.25;font-family:Umpush;-inkscape-font-specification:'Umpush Bold';letter-spacing:0px;word-spacing:0px;fill-opacity:0.99215686;stroke:none;stroke-width:11.74121666"
                id="text8473"
                transform="matrix(1.0219408,0,0,1.0219408,2.6930762,-4.212931)">
                <path
                  class="logo"
                  style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:Umpush;-inkscape-font-specification:'Umpush Bold';fill-opacity:0.99215686;stroke-width:45.34990311"
                  d="M 979.77344,99.791582 V 120.66406 H 1168.6738 V 99.791582 Z m 465.74806,-0.707107 -10.4531,21.579585 h 105.2285 l -10.4531,-21.579585 z m 395.1582,-1.06066 v 22.640245 h 358.9922 C 2150.4586,105.00645 2096.4916,98.175344 2049.418,98.023815 Z M 979.77344,143.3418 v 36.17773 H 1168.6738 V 143.3418 Z m 446.24026,0 -14.4453,36.17773 h 152.2285 l -14.4453,-36.17773 z m 414.666,0 v 36.17773 h 440.4121 c -5.7317,-6.67733 -11.9979,-13.11314 -18.8008,-19.30859 -6.5341,-6.05894 -13.5322,-11.68084 -20.9883,-16.86914 z m -771.209,58.85547 V 238.375 h 99.2031 v -36.17773 z m 333.041,0 -14.4453,36.17773 h 199.2324 l -14.4453,-36.17773 z m 438.168,0 V 238.375 h 99.2031 v -36.17773 z m 298.4219,0 c 20.0764,8.6851 37.4569,20.7463 52.1464,36.17773 h 125.0137 c -4.604,-11.47244 -9.9148,-22.2356 -15.9433,-32.2832 -0.7841,-1.30671 -1.5918,-2.60332 -2.4102,-3.89453 z m -1069.6309,58.85351 v 36.17774 h 99.2031 v -36.17774 z m 309.541,0 -14.4472,36.17774 h 104.9375 l 14.4003,-36.17774 z m 112.4492,0 14.4004,36.17774 h 104.9375 l -14.4453,-36.17774 z m 349.2188,0 v 36.17774 h 99.2031 v -36.17774 z m 368.7832,0 c 7.2945,10.98702 13.3795,23.04605 18.2539,36.17774 h 105.6348 c -2.3777,-12.00806 -5.384,-23.92531 -9.0586,-35.74805 -0.043,-0.14399 -0.088,-0.28589 -0.1309,-0.42969 z m -1139.9922,58.85547 v 36.17773 h 99.2031 v -36.17773 z m 286.0391,0 -14.4473,36.17773 h 105.0098 l 14.4023,-36.17773 z m 159.3789,0 14.4023,36.17773 h 105.0098 l -14.4453,-36.17773 z m 325.791,0 v 36.17773 h 99.2031 v -36.17773 z m 393.9863,0 c 2.8161,11.38159 4.8685,23.43999 6.1543,36.17773 h 99.8145 c -0.6892,-11.32106 -1.727,-22.18962 -3.1153,-32.60156 -0.1413,-1.19384 -0.3109,-2.38412 -0.4648,-3.57617 z m -1165.1953,58.85547 v 36.17578 h 99.2031 v -36.17578 z m 262.5371,0 -14.4453,36.17578 h 105.082 l 14.4004,-36.17578 z m 206.3106,0 14.4004,36.17578 h 105.0839 l -14.4453,-36.17578 z m 302.3613,0 v 36.17578 h 99.2031 v -36.17578 z m 401.6035,0 c 0.1069,3.57314 0.168,7.18759 0.168,10.85547 0,8.67896 -0.3106,17.11344 -0.9141,25.32031 h 99.6133 c 0.3289,-7.86587 0.5039,-15.8853 0.5039,-24.08008 0,-4.08915 -0.054,-8.10843 -0.1328,-12.0957 z m -1172.8125,58.85351 v 36.17774 h 99.2031 v -36.17774 z m 239.0371,0 -14.4473,36.17774 h 387.2422 l -14.4453,-36.17774 z m 532.1719,0 v 36.17774 h 99.2031 v -36.17774 z m 398.3301,0 c -1.9214,12.69022 -4.6484,24.75001 -8.1836,36.17774 h 104.2832 c 1.9852,-11.605 3.511,-23.66826 4.5918,-36.17774 z M 1069.4707,496.4707 v 2.6836 c 0,11.98528 -0.7268,23.14661 -2.1738,33.49414 h 100.4804 c 0.592,-8.7569 0.8965,-17.8474 0.8965,-27.29492 v -8.88282 z m 215.5352,0 -14.4473,36.17774 h 105.0273 l 7.1075,-17.78711 h 209.9785 l 7.1074,17.78711 h 105.0254 l -14.4453,-36.17774 z m 555.6738,0 v 36.17774 h 99.2031 V 496.4707 Z m 381.7207,0 c -5.7274,13.0216 -12.6936,25.07572 -20.875,36.17774 h 118.3223 c 1.9882,-5.6093 3.8896,-11.38869 5.6855,-17.375 1.8187,-6.1091 3.4695,-12.3859 4.9805,-18.80274 z m -1384.81642,9.29688 c 0,9.29953 0.29548,18.25192 0.86719,26.88086 H 939.4082 c -1.3288,-8.32999 -2.20403,-17.28847 -2.62109,-26.88086 z m 3.12696,49.55664 c 1.7587,12.93174 4.26274,24.98942 7.50781,36.17773 h 117.35742 c -1.33368,-1.23408 -2.66474,-2.51609 -3.98828,-3.89257 -6.8891,-7.44023 -12.53825,-18.1865 -16.94727,-32.24024 -0.005,-0.0148 -0.009,-0.0301 -0.0137,-0.0449 z m 221.87696,0 c -2.3454,8.266 -5.2775,15.87048 -8.8242,22.77734 -2.665,5.11944 -5.716,9.58367 -9.1485,13.40039 h 113.2754 c 3.2765,-11.18872 5.8098,-23.24546 7.5918,-36.17773 z m 198.916,0 -14.4453,36.17773 h 105.0137 l 14.455,-36.17773 z m 347.334,0 14.4551,36.17773 h 105.0117 l -14.4453,-36.17773 z m 231.8418,0 v 36.17773 h 99.2031 v -36.17773 z m 341.0371,0 c -16.8467,16.19713 -36.5253,28.25263 -59.0254,36.17773 h 168.2793 c 7.2867,-10.75175 13.9068,-22.81111 19.8594,-36.17773 z M 856.32812,614.17969 c 5.94559,13.71741 13.30224,25.78009 22.07813,36.17773 h 249.04885 c 8.8423,-10.39769 16.2571,-22.46021 22.2539,-36.17773 z m 381.67388,0 -14.4454,36.17773 h 105 l 14.4551,-36.17773 z m 394.3515,0 14.4531,36.17773 h 105 l -14.4453,-36.17773 z m 208.3262,0 v 36.17773 h 389.1289 c 16.1636,-10.2453 30.5801,-22.29981 43.2363,-36.17773 z m -937.16408,58.85547 c 25.56492,17.44312 58.55567,20.16732 98.99218,20.16732 40.6979,0 73.9101,-2.72342 99.6563,-20.16732 z m 310.98438,0 -8.3066,20.80468 h 104.9902 l 8.3125,-20.80468 z m 441.3672,0 8.3125,20.80468 h 104.9902 l -8.3066,-20.80468 z m 184.8125,0 v 20.80468 h 218.6601 c 30.0365,0 57.8668,-2.61783 83.4942,-7.85351 14.2233,-3.02625 28.3209,-7.34927 42.2949,-12.95117 z"
                  transform="matrix(0.2589028,0,0,0.2589028,-0.02100113,89.254576)"
                  id="path8499"
                  inkscape:connector-curvature="0"
                  sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccsccscccccccccccccccccccccccsccscccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccsccccccccccccccsccc" />
              </g>
              <g
                class="logo"
                id="g9268"
                transform="translate(2.6716143,-3.8748433e-5)" />
              <g
                class="logo"
                id="g9363">
                <path
                  class="logo"
                  style="opacity:1;fill-opacity:0.99215686;stroke:none;stroke-width:161.85066223;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 333.53906,97.761719 c -1.39782,0 -2.52344,1.123659 -2.52344,2.521481 10e-6,1.39783 1.12562,2.52344 2.52344,2.52344 H 1970.0664 c 1.3978,0 2.5234,-1.12561 2.5234,-2.52344 0,-1.397822 -1.1256,-2.521481 -2.5234,-2.521481 z m 103.46289,60.000001 c -1.39782,0 -2.52343,1.12366 -2.52343,2.52148 0,1.39783 1.12561,2.52344 2.52343,2.52344 H 1970.0664 c 1.3978,0 2.5234,-1.12561 2.5234,-2.52344 0,-1.39782 -1.1256,-2.52148 -2.5234,-2.52148 z m 26.60352,59.04883 c -1.39783,0 -2.52344,1.12561 -2.52344,2.52343 0,1.39783 1.12561,2.52344 2.52344,2.52344 H 2212.4629 c 1.3978,0 2.5234,-1.12561 2.5234,-2.52344 0,-1.39782 -1.1256,-2.52343 -2.5234,-2.52343 z m -26.60352,59.04883 c -1.39782,-10e-6 -2.52343,1.12561 -2.52343,2.52343 0,1.39783 1.12561,2.52344 2.52343,2.52344 H 2261.2363 c 1.3979,0 2.5235,-1.12561 2.5235,-2.52344 0,-1.39782 -1.1256,-2.52343 -2.5235,-2.52343 z m 232.05078,59.05078 c -1.39782,0 -2.52343,1.12366 -2.52343,2.52148 0,1.39783 1.12561,2.52344 2.52343,2.52344 H 2276.0176 c 1.3978,0 2.5234,-1.12561 2.5234,-2.52344 0,-1.39782 -1.1256,-2.52148 -2.5234,-2.52148 z m 23.64844,59.04882 c -1.39782,0 -2.52344,1.12562 -2.52344,2.52344 0,1.39783 1.12562,2.52344 2.52344,2.52344 H 2281.9297 c 1.3978,0 2.5234,-1.12561 2.5234,-2.52344 0,-1.39782 -1.1256,-2.52344 -2.5234,-2.52344 z m -187.71094,59.04883 c -1.39782,0 -2.52343,1.12561 -2.52343,2.52344 0,1.39783 1.12561,2.52344 2.52343,2.52344 H 2284.8848 c 1.3978,0 2.5234,-1.12561 2.5234,-2.52344 0,-1.39783 -1.1256,-2.52344 -2.5234,-2.52344 z m 189.1875,59.05078 c -1.39782,0 -2.52343,1.12366 -2.52343,2.52149 0,1.39782 1.12561,2.52344 2.52343,2.52344 H 2253.8477 c 1.3978,0 2.5234,-1.12562 2.5234,-2.52344 0,-1.39783 -1.1256,-2.52149 -2.5234,-2.52149 z m -35.47265,59.04883 c -1.39783,0 -2.52344,1.12561 -2.52344,2.52344 0,1.39782 1.12561,2.52344 2.52344,2.52344 H 2202.1172 c 1.3978,0 2.5215,-1.12562 2.5215,-2.52344 0,-1.39783 -1.1237,-2.52344 -2.5215,-2.52344 z m -88.68164,59.04883 c -1.39783,0 -2.52344,1.12561 -2.52344,2.52344 0,1.39782 1.12561,2.52343 2.52344,2.52343 H 1970.0664 c 1.3978,0 2.5234,-1.12561 2.5234,-2.52343 0,-1.39783 -1.1256,-2.52344 -2.5234,-2.52344 z m -116.76367,58.59961 c -1.39783,0 -2.52344,1.12561 -2.52344,2.52344 0,1.39782 1.12561,2.52343 2.52344,2.52343 H 1947.8965 c 1.3978,0 2.5215,-1.12561 2.5215,-2.52343 0,-1.39783 -1.1237,-2.52344 -2.5215,-2.52344 z"
                  transform="matrix(0.26458333,0,0,0.26458333,0,87)"
                  id="rect8461"
                  inkscape:connector-curvature="0" />
              </g>
            </g>
          </svg>
        </a>
        <p class="footer-info-text text-white">
          Esperamos que disfrutes del sitio web y te recomendamos seguirnos en las redes sociales para estar informados.
        </p>
        <div class="footer-social-link">
          <h3>Buscanos</h3>
          <ul>
            <li>
              <a target="_blank" rel="external" href="https://facebook.com/PatoJAD/">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a target="_blank" rel="external" href="https://twitter.com/PatoJADOficial">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a target="_blank" rel="external" href="https://www.instagram.com/patojadoficial/">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Social link -->
      </div>
      <!-- End Footer info -->
      <div class="footer-awarad">
        &nbsp;
        &nbsp;
        &nbsp;
        <img
          src="https://openlibra.blob.core.windows.net/assets-files/openlibra-brand-square.png"
          class="img-fluid"
          style="height: 54px;"
          alt="OpenLibra" />
        <p>PatoJAD y OpenLibra</p>
      </div>
      </div>
      <!-- End Col -->
      <div class="col-md-12 col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="contact-us">
              <div class="contact-icon">
                <i class="fa fa-map-o" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>Argentina</h3>
                <p>Buenos Aires</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
          <div class="col-md-6">
            <div class="contact-us contact-us-last">
              <div class="contact-icon">
                <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
              </div>
              <!-- End contact Icon -->
              <div class="contact-info">
                <h3>@PatoJAD</h3>
                <p>Hablame en Telegram</p>
              </div>
              <!-- End Contact Info -->
            </div>
            <!-- End Contact Us -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Contact Row -->
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget footer-left-widget">
              <div class="section-heading">
                <h3>Sitios Amigos</h3>
                <span class="animate-border border-black"></span>
              </div>
              <ul>
                <li>
                  <a href="https://patojad.com.ar/">PatoJAD</a>
                </li>
                <li>
                  <a href="https://pensamientos.patojad.com.ar/">Pensamientos</a>
                </li>
                <li>
                  <a href="https://telegram.patojad.com.ar/">Telegram</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="https://mediastodon.patojad.com.ar/">Mediastodon</a>
                </li>
                <li>
                  <a href="https://compartelibre.patojad.com.ar/">Comparte Libre</a>
                </li>
                <li>
                  <a href="https://openlibra.com/">Open Libra</a>
                </li>
              </ul>
            </div>
            <!-- End Footer Widget -->
          </div>
          <!-- End col -->
          <div class="col-md-12 col-lg-6">
            <div class="footer-widget">
              <div class="section-heading">
                <h3>Mantenete Informado</h3>
                <span class="animate-border border-black"></span>
              </div>
              <p class="text-white">
                Podes mantenerte informado sobre todo lo creado por PatoJAD en Telegram
              </p>
              <a target="_blank" rel="external" href="https://t.me/PatoJADCommunity" class="btn btn-primary btn-lg btn-block text-white"> Ir a Telegram </a>
              <!-- End form -->
            </div>
            <!-- End footer widget -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Row -->
      </div>
      <!-- End Col -->
      </div>
      <!-- End Widget Row -->
    </div>
    <!-- End Contact Container -->


  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>Creado por PatoJAD con la API de OpenLibra</span>
        </div>
        <!-- End Col -->
        <div class="col-md-6">
          <div class="copyright-menu">
            <ul>
              <li>
                <a href="https://patojad.com.ar/" target="_blank" rel="external">PatoJAD</a>
              </li>
              <li>
                <a href="https://pensamientos.patojad.com.ar/" target="_blank" rel="external">Pensamientos</a>
              </li>
              <li>
                <a href="https://mediastodon.patojad.com.ar/" target="_blank" rel="external">Mediastodon</a>
              </li>
              <li>
                <a href="https://telegram.patojad.com.ar/" target="_blank" rel="external">Telegram</a>
              </li>
            </ul>
          </div>
        </div>
      <!-- End col -->
      </div>
    <!-- End Row -->
    </div>
    <!-- End Copyright Container -->
  </div>
</footer>
