nav{
  border-bottom: 3px solid #FF0000;
  border-radius: 20px;
  margin: 10px;
}

.logo {
	color: #FF0000;
	fill: #FF0000;
}

.nav-item{
  border-radius: 20px;
}

.dropdown-menu {
  width: max-content !important;
  left: -150%;
  text-align: center;
  right:0;
  margin-top: 20px;
  border-radius: 20px;
}

.dropdown-item:hover,:focus{
  background: #FF0000;
  border-radius: 20px;
}
