.card{
  border-radius: 20px;
  padding: 0px;
}

.card-title{
  color: red;
  margin-top: 10px;
}

.minitext{
  font-size: 12px;
}

.dona{
  border-radius: 20px;
  background: rgba(0,0,0,0);
  color: #FF0000 !important;
}

.dona:hover, .dona:focus{
  border-radius: 20px;
  background: #FF0000;
  color: #FFFFFF !important;
}
