<app-topbar></app-topbar>

<div>
  <br/>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3">
      <app-lateralbar></app-lateralbar>
    </div>
  </div>
</div>

<div>
  <br/>
</div>

<app-footer></app-footer>
