<div class="container">
  <div class="row">

    <div class="col-md-4" *ngFor="let book of category_books">
      <app-card
        id="{{book.ID}}"
        titulo="{{book.title}}"
        contenido="{{book.content_short}}"
        img="{{book.cover}}"
        autor="{{book.author}}"
        comentarios="{{book.num_comments}}"
        fecha="{{book.publisher_date}}"
        paginas="{{book.pages}}">
      </app-card>
    </div>

  </div>
</div>
