.card-text{
  font-size: 10.4px;
}

.card-title{
  color: #FF0000;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  background: #FF0000;
  border-color: #FF0000;
}

.card{
  border-radius: 20px;
}

.img-fluid{
  border-radius: 20px;
}

.btn-block{
  border-radius: 20px;
}

.table{
  border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  -webkit-border-radius: 20px !important;
}
