<div class="container">
  <div *ngFor="let book of books" class="row">

    <div class="card text-white bg-dark col-md-12">
      <div class="container-fluid">
        <div class="row">

          <div class="col-md-5">
            <img
              class="img-fluid"
              src={{book.cover}}
              alt={{book.title}}>
          </div>

          <div class="col-md-7 card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <br />
            <table class="table table-striped table-dark">
              <tbody class="text-center">
                <tr>
                  <th scope="row"><i class="fa fa-user" aria-hidden="true"></i></th>
                  <td>{{book.author}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fa fa-calendar" aria-hidden="true"></i></th>
                  <td>{{book.publisher_date}}</td>
                </tr>
                <tr>
                  <th scope="row"><i class="fa fa-comment" aria-hidden="true"></i></th>
                  <td>{{book.language}}</td>
                </tr>
              </tbody>
            </table>
            <br />
            <a
              type="button"
              target="_blank"
              rel="noreferrer"
              href={{book.url_details}}
              class="btn btn-primary btn-lg btn-block">
              Mas información
            </a>
            <a
              type="button"
              target="_blank"
              rel="noreferrer"
              href={{book.url_download}}
              class="btn btn-primary btn-lg btn-block">
              Descargar
            </a>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-12">
      <br />
    </div>

    <div class="card text-white bg-dark col-md-12">

      <div class="card-body">
        <h5 class="card-title">Descripción</h5>
        <br />
        <p class="card-text" innerHTML={{book.content}}></p>
      </div>

    </div>

  </div>
</div>
