body{
  background: #141414;
  font-family: 'Comfortaa', cursive !important;
}

.bg-dark{
  background-color: #0d0d0d !important;
}

.btn-primary{
  background-color: #FF0000;
  border-color: #FF0000;
}

.btn-primary:hover{
  background-color: #FF0000;
  border-color: #FF0000;
  border: 3px solid #FF0000;
}
